<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hbq969.code.zkc.dao.ConfigDao">
  <update id="createConfigHistory">
    create table `hbq_config_history`
    (
      `user_name`    varchar
    (
      50
    ),
      `operate` varchar
    (
      50
    ),
      `op_time` BIGINT
      ) ENGINE=InnoDB DEFAULT CHARSET =utf8
  </update>

  <update id="createBackupMain">
    create table `hbq_config_bk_main`
    (
      `id`      varchar
    (
      255
    ) primary key,
      `bk_time` BIGINT,
      `size`    BIGINT
      ) ENGINE=InnoDB DEFAULT CHARSET =utf8
  </update>

  <update id="createBackupDetail">
    create table `hbq_config_bk_detail`
    (
      `id`    varchar
    (
      255
    ),
      `path`  varchar
    (
      255
    ),
      `name`  varchar
    (
      255
    ),
      `value` varchar
    (
      2000
    ),
      `bk_time` BIGINT,
      primary key
    (
      id,
      path,
      name
    )
      )
  </update>

  <update id="createUserInfo">
    create table `tab_config_user`
    (
      `username` varchar(50) primary key,
      `password` varchar(500) not null,
      `enabled`  int default 1
    ) ENGINE=InnoDB DEFAULT CHARSET =utf8
  </update>

  <update id="createUserAuthorities">
    create table `tab_config_u_authorities`
    (
      `username` varchar(50) primary key,
      `authority` varchar(500) not null
    ) ENGINE=InnoDB DEFAULT CHARSET =utf8
  </update>
</mapper>
